:root {
  --ui-background: transparent;
  --ui-border: #f4f4f4;
  --side-width: 0px;
  --side-display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-background: transparent;
    --ui-border: #333;
  }
  a {
    color: #3f8cf8 !important;
  }
}

@media (min-width: 768px) {
  :root {
    --side-width: 150px;
    --side-display: block;
  }
}

/* @media (min-width: 1280px) {
  :root {
    --side-width: 240px;
  }
} */

body {
  margin: 0;
}

/* div.markdown-body {
  display: flex;
  max-width: calc(980px + var(--side-width));
} */

.menu {
  display: var(--side-display);
  position: relative;
  width: var(--side-width);
  background: var(--ui-background);
  border-right: 1px solid var(--ui-border);
  margin-right: 3rem;
}

.content {
  flex: 1;
}

a {
  font-weight: 500;
}

.page-title {
  font-size: 36px;
  font-weight: 600;
}

.page-descr {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 2.5rem;
}
